<article class="post">
    <div class="title">
    <img src="{{photo_url}}" alt="Album Photo">
    <h2>Artist: {{artist}}</h2>
    <h2>Album Title: {{album_title}}</h2>
    <h2>Genre: {{album_title}}</h2>
    </div>
</article>
