<section class="animate-feed py-2">
<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>
</section>
<script src="/javascript/filterGenre.js"></script>
