<section class="animate-feed">
   <form class="form-inline my-2 my-lg-0" id="genre-form">
      <label for="post-genre" class="genre-label">Genre</label>
      <select type="text" id="post-genre" name="post-genre">
            <option value="Blank"></option>
            <option value="Rock">Rock</option>
            <option value="Electronic">Electronic</option>
            <option value="Pop">Pop</option>
            <option value="Funk-Soul">Funk/Soul</option>
            <option value="Jazz">Jazz</option>
            <option value="Folk">Folk</option>
            <option value="World">World</option>
            <option value="Country">Country</option>
            <option value="Hip-Hop-Rap">Hip-Hop/Rap</option>
            <option value="Classical">Classical</option>
            <option value="Musicals">Musicals</option>
            <option value="Reggae">Reggae</option>
            <option value="Latin">Latin</option>
            <option value="Blues">Blues</option>
            <option value="Comedy">Comedy</option>
      </select>   
         <button class="btn btn-outline-light my-2 my-sm-0" id="filter-genre"type="submit">Filter</button>
   </form>
   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
  </form>


   

<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>
</section>
<script src="/javascript/filterGenre.js"></script>