<section class="animate">
  <div class="container">
    <div class="row">
      <form class="login-form">
        <div>
          <label for="email-login">Email address:</label>
          <input type="text" id="email-login" class="form-control" placeholder="name@example.com" />
        </div>
        <div>
          <label for="password-login"> Password:</label>
          <input type="password" class="form-control"  id="password-login" />
        </div>
        <div>
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      <a class="login-link" href="/signup">Sign up instead</a>
      </form>
    </div>
  </div>
</section>
<script src="/javascript/login.js"></script>