<section>
    <h2>Username: {{username}}</h2>
    <h2>Email: {{email}}</h2>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li class="post-info">
      {{> post-info post}}
      <a href="/p/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<a class="add-post-link" href="/profile/post"> + New Post</a>