<section class="animate-feed py-2">


<form id="search-form">
    <label for="search">Search by: </label>
    <select type="text" name="search" class="form-control-sm" id="search-for">
        <option value="User">User</option>
    </select>
    <input type="text" class="form-control-sm" id="search-form-input" />
    <button class='btn btn-outline-light' type="submit">Search</button>
</form>


<ul>
{{#each users}}
<li class="user-list-item">
    <a href='/profile/{{id}}'>{{username}}</a>
</li>
{{/each}}
</ul>


<script src='/javascript/search.js'></script>
</section>