<section class="animate">
  <div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm form-space">
          <form class="signup-form">
            <div>
              <label for="username-signup">Username:</label>
              <input type="text" class="form-control" id="username-signup" />
            </div>
            <div>
              <label for="email-signup">Email:</label>
              <input type="text"  class="form-control" id="email-signup" />
            </div>
            <div>
              <label for="password-signup">Password:</label>
              <input type="password"  class="form-control" id="password-signup" />
            </div>
            <div>
              <label for="location-signup">Location:</label>
              <input type="text"  class="form-control" id="location-signup" placeholder="(optional)"/>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
              <a class="login-link" href="/login">Log in instead</a>
          </form>
        </div>
        <div class="col-sm"></div>
    </div>
  </div>
</section>
<script src="/javascript/signup.js"></script>