{{> post-info posts }}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" cols="38"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments comments=posts.comments loggedIn=loggedIn}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
{{/if}}