{{> post-info posts }}

<div class= "container comment-container" id="comment-container">
  <div class="row comment-row">
    {{#if loggedIn}}
    <form class="comment-form d-flex flex-column">
      <div>
        <textarea class= "form-control my-1 bg-transparent" id ="textarea"name="comment-body" cols="38"></textarea>
      </div>

      <div>
        <button class="btn btn-outline-light text-light" type="submit">Comment</button>
        <button class="btn btn-outline-light text-light vote-btn" type="submit"><i class = "fa fa-heart"></i></button>
      </div>
    </form>
    {{/if}}
  </div>

  <div class="row comment-row">
    {{> comments comments=posts.comments loggedIn=loggedIn}}
  </div>

    {{#if loggedIn}}
    <script src="/javascript/vote.js"></script>
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/delete-comment.js"></script>
    {{/if}}
</div>
