* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg,#292b31, #000000);
    /* background-size: 400% 400%; */
    position: relative;
    animation: change 20s ease-in-out infinite;
}

nav {
    background-image: linear-gradient(135deg, #272728 0%, #060606 100%);
}
form{
    margin: 20px;
    /* margin-left: 20px;
    margin-top: 20px; */
}
a {
  color: whitesmoke;
  transition: all .5s ease-out;
}

a:hover {
    color: #b9bafa;
    text-decoration: none;
  }


.genre-label{
    color: whitesmoke;
}

#genre-form {
    float: right;
}
.animate {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg,#b9bafa, #9d40c4, #5c36d0, #2355d5, #1eb870);
    background-size: 400% 400%;
    position: relative;
    animation: change 20s ease-in-out infinite;
}

.animate-feed {
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg,#292b31,#000000);
    /* background-size: 400% 400%; */
    position: relative;
    /* animation: change 20s ease-in-out infinite; */
}

.header-row {
    justify-content: center;
    
}

.header-img {
    width: 80%;
    object-fit: contain;
}

#album-photo {
    width: 320px;
    height: 320px;
    padding-bottom: 5px;
}

.btn {
    margin: 15px 5px 5px 5px;
    transition: all .5s ease-out;
}
.btn-sm {
    border: none;
    transition: all .5s ease-out;
}
.btn-sm:hover {
    background-color: #b9bafa80;
}

.vote-btn:hover {
    background-color: rgba(0, 0, 0, 0);
}
.unvote-btn:hover {
    background-color: whitesmoke;
}

.select {
    margin: 15px 0 0 0;
}

.post-list {
    align-content: center;
    /* display: flex; */
    padding-bottom: 5px;
}

.user-list-item {
    margin-left: 50px;
}

.card {
    background-color: #171717;
    color: whitesmoke;
    border: 1px solid #b9bafa;
    border-radius: 10px;
    margin: 3% auto;
    width: 400px;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
}

.card-body {
    margin: 0;
    padding: 5px 20px;
    justify-content: left;
}

.card-body p {
    margin: 0;
}

.card-title {
    margin: 0 20px;
    font-size: 20px;
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.album-photo {
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
} 

.description {
    font-style: italic;
}

.no-posts {
    margin-left: 20px;
}

.comments, .comment-form {
    margin: 2px 20px;
    width: 400px;
}

.comment-row {
    justify-content: center;
    margin: 0 auto 10px auto;
}

#textarea {
    padding: 2px;
    color: whitesmoke;
    border: solid 1px whitesmoke;
}

.comment {
    padding: 2px;
}

.comment:nth-child(odd) {
    background-color: #b9bafa0d;
  }

.comment .meta {
    font-size: 90%;
    margin-bottom: 0;
    opacity: .6;
}

.createdAt {
    font-size: 70%;
    margin-bottom: 0;
    text-align: right;
    opacity: .6;
}

.profile-info {
    margin-top: 10px;
    margin-left: 10px;
}

.word-wrap {
    word-break: break-word;
}

.add-post-link h3, .old-posts {
    margin-left: 20px;
}

.edit-link {
    margin-left: 20px;
}

/* .add-post-section {
    margin-left: 20px;
} */

/* Utilities */
.form-space{
    padding: 10px;
    margin-top: 10px;
    /* border: 4px solid; */
    border-radius: 10%;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* #EE7752, #E73c7E, #23A6D5, #23D5AB */